In [2]:
for i in range(0,8):
    for j in range(i+1,8):
        print("*",end="")
    print("")

*******
******
*****
****
***
**
*

In [1]:
#extra mile

SyntaxError: invalid syntax (2039195660.py, line 1)

In [2]:
song=["blackpink","hollywood","bollywood","tamil"]

In [3]:
sorted(song,reverse = True,key = len)

['blackpink', 'hollywood', 'bollywood', 'tamil']

In [6]:
sorted(song,reverse = True)

['tamil', 'hollywood', 'bollywood', 'blackpink']

In [5]:
sorted(song,reverse = True,key = len)

['blackpink', 'hollywood', 'bollywood', 'tamil']

In [7]:
song

['blackpink', 'hollywood', 'bollywood', 'tamil']

In [ ]:
#conditiinal list comprehension #in alish you can not directly use endswith you can use this way

In [19]:
name = ['aj@yahoo.com','kj@gmail.com','iu@yahoo.com','rt@gmail.com','we@yahoo.com','po@gmail.com']

In [25]:
[email for email in name if email.endswith("@yahoo.com")]

['aj@yahoo.com', 'iu@yahoo.com', 'we@yahoo.com']

In [38]:
#nested listcomprehension
pairs = []
for x in [1,2,3]:
    for y in [4,5,6]:
        pairs.append([x,y])
pairs

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [34]:
[[x,y] for x in [1,2,3] for y in [4,5,6]] #nested listcomprehension

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [ ]:
#list stack and queue(optional)

In [35]:
##last in first out

In [46]:
stack_of_plates=[]
stack_of_plates.append("plate1")
stack_of_plates.append("plate2")
stack_of_plates.append("plate3")
stack_of_plates.append("plate4")
stack_of_plates

['plate1', 'plate2', 'plate3', 'plate4']

In [47]:
stack_of_plates.pop()

'plate4'

In [48]:
stack_of_plates

['plate1', 'plate2', 'plate3']

In [49]:
#queue(optional)

In [ ]:
#first in first out

In [69]:
deque = ()
checkout = [deque()]
checkout.append("cos1")
checkout.append("cos2")
checkout.append("cos3")
checkout.append("cos4")
checkout

TypeError: 'tuple' object is not callable

In [68]:
while checkout:
    customer = checkout.popleft()
    print("serving",customer)

AttributeError: 'list' object has no attribute 'popleft'

In [1]:
d = {'name': ['Sanjay', "Ajay", 1, 2], 'email': 'aj@gmail.com', 'contact': (1234, 678)}

In [2]:
d["address"]="gujarat unna 362560"

In [3]:
d

{'name': ['Sanjay', 'Ajay', 1, 2],
 'email': 'aj@gmail.com',
 'contact': (1234, 678),
 'address': 'gujarat unna 362560'}

In [4]:
d.fromkeys((1, 2, 3), ("a", "b", "c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [7]:
type(d.fromkeys)

builtin_function_or_method

In [8]:
type(d)

dict

In [10]:
#dictionary comprehension

#zip function
students = ["Arun", "Ajay", "Bijay"]
marks = [80, 95, 100]

for i in zip(students, marks):#zip it willjust put both of the value together one by one 
    print(i)

('Arun', 80)
('Ajay', 95)
('Bijay', 100)

In [11]:
#store the above info in key value pair>> dict

In [12]:
students_marks = {}
for student, mark in zip(students, marks):
    students_marks[student] = mark

In [13]:
students_marks

{'Arun': 80, 'Ajay': 95, 'Bijay': 100}

In [14]:
#using dictionary comprehension method
students = ["Arun", "Ajay", "Bijay"]
marks = [80, 95, 100]
{student:marks for student, marks in zip(students, marks)}

{'Arun': 80, 'Ajay': 95, 'Bijay': 100}

In [15]:
#use case
user_id = [1, 2, 3]
user_name = ["a21", "a22", "a23"]

In [17]:
{u_id:use_name for u_id, use_name in zip(user_id,user_name)}

{1: 'a21', 2: 'a22', 3: 'a23'}

In [19]:
employee_records = {
    'E001': {'name': 'John Doe', 'department': 'Engineering', 'salary': 75000},
    'E002': {'name': 'Jane Smith', 'department': 'Marketing', 'salary': 65000},
    'E003': {'name': 'David Lee', 'department': 'Finance', 'salary': 80000}
}

In [20]:
type(employee_records)

dict

In [21]:
employee_records.get("E001")

{'name': 'John Doe', 'department': 'Engineering', 'salary': 75000}

In [22]:
employee_records["E001"]

{'name': 'John Doe', 'department': 'Engineering', 'salary': 75000}

In [23]:
restaurant_menu = {
    'Dish1': {'name': 'Pasta Carbonara', 'price': 15.99, 'description': 'Creamy pasta with bacon and parmesan'},
    'Dish2': {'name': 'Chicken Caesar Salad', 'price': 12.50, 'description': 'Grilled chicken with romaine lettuce and Caesar dressing'},
    'Dish3': {'name': 'Margherita Pizza', 'price': 14.00, 'description': 'Pizza topped with tomato, mozzarella, and basil'}
}

In [24]:
restaurant_menu["Dish1"]

{'name': 'Pasta Carbonara',
 'price': 15.99,
 'description': 'Creamy pasta with bacon and parmesan'}

In [25]:
restaurant_menu.keys()

dict_keys(['Dish1', 'Dish2', 'Dish3'])

In [27]:
restaurant_menu.values()

dict_values([{'name': 'Pasta Carbonara', 'price': 15.99, 'description': 'Creamy pasta with bacon and parmesan'}, {'name': 'Chicken Caesar Salad', 'price': 12.5, 'description': 'Grilled chicken with romaine lettuce and Caesar dressing'}, {'name': 'Margherita Pizza', 'price': 14.0, 'description': 'Pizza topped with tomato, mozzarella, and basil'}])

In [30]:
restaurant_menu.items()

dict_items([('Dish1', {'name': 'Pasta Carbonara', 'price': 15.99, 'description': 'Creamy pasta with bacon and parmesan'}), ('Dish2', {'name': 'Chicken Caesar Salad', 'price': 12.5, 'description': 'Grilled chicken with romaine lettuce and Caesar dressing'}), ('Dish3', {'name': 'Margherita Pizza', 'price': 14.0, 'description': 'Pizza topped with tomato, mozzarella, and basil'})])

In [32]:
for key, value in restaurant_menu.items():#you can iterate the value bot key and value
    print(key,value)

Dish1 {'name': 'Pasta Carbonara', 'price': 15.99, 'description': 'Creamy pasta with bacon and parmesan'}
Dish2 {'name': 'Chicken Caesar Salad', 'price': 12.5, 'description': 'Grilled chicken with romaine lettuce and Caesar dressing'}
Dish3 {'name': 'Margherita Pizza', 'price': 14.0, 'description': 'Pizza topped with tomato, mozzarella, and basil'}

In [34]:
#itearte over only keys
for key  in restaurant_menu.keys():
    print(key)

Dish1
Dish2
Dish3

In [35]:
for value in restaurant_menu.values():
    print(value)

{'name': 'Pasta Carbonara', 'price': 15.99, 'description': 'Creamy pasta with bacon and parmesan'}
{'name': 'Chicken Caesar Salad', 'price': 12.5, 'description': 'Grilled chicken with romaine lettuce and Caesar dressing'}
{'name': 'Margherita Pizza', 'price': 14.0, 'description': 'Pizza topped with tomato, mozzarella, and basil'}

# Writing Your Python Code

**Say "Hello" to the world in Python**

`[Tip]: To execute the Python code in the code cell below, click on the cell to select it and press Shift + Enter.`

In [1]:
# Try your first python code

print('Hello, Neurons.')

Hello, Neurons.

- After executing the cell above, you should see that Python prints `Hello, Neurons` Congratulations on running your Python code!

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

To write comments in Python, use the number symbol `#` before writing your comment. When you run your code, Python will ignore everything past the # on a given line.

In [3]:
# print('Hi')

In [4]:
# create a function
def addition(a, b):
    '''
    This is a function is to perform addition operation
    '''
    print('Performing addition operation')
    output = a + b
    print(f'{a} + {b} is =', output)
    return output

In [5]:
addition(2, 1)

Performing addition operation
2 + 1 is = 3

3

In [1]:
a=["yash",1,2,True,False,(3+5j),20.5,"pwskill"]
a

['yash', 1, 2, True, False, (3+5j), 20.5, 'pwskill']

In [4]:
a.append("nihar")#hit shift and tab to get detail about append

In [5]:
a

['yash', 1, 2, True, False, (3+5j), 20.5, 'pwskill', 'nihar', 'nihar']

In [6]:
a.remove("yash")

In [7]:
a

[1, 2, True, False, (3+5j), 20.5, 'pwskill', 'nihar', 'nihar']

In [8]:
a.remove("nihar")

In [9]:
a

[1, 2, True, False, (3+5j), 20.5, 'pwskill', 'nihar']

In [10]:
b=[[0,1,2,],[3,4,5],[6,7,8]]
b

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [13]:
b[0][-1]

2

In [4]:
b=[[0,1,2,],[3,4,5],[6,7,8]]
b

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [5]:
b[1][1]

4

In [6]:
b[2][-1]

8

In [7]:
#list is a mutable
mutable_object=["apple","banana",(3+5j),45,"yash"]
mutable_object

['apple', 'banana', (3+5j), 45, 'yash']

In [10]:
mutable_object.append("kiran")

In [11]:
mutable_object

['apple', 'banana', (3+5j), 45, 'yash', 'kiran']

In [12]:
#tuple is immutable 
lists =(2,4)
type(lists)

tuple

In [15]:
lists.append("jk")#thats why its called immutable object

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
#used tuple >> tuple used for we dont change the data like adhar card or we can say bank details 
#you dont want change you usedd to store a data
#tuple can store heterogenous data

In [18]:
box_no1=("karan","canada")
box_no2=("dipen","una")
combine_box=(box_no1,box_no2)
combine_box

(('karan', 'canada'), ('dipen', 'una'))

In [21]:
for box in combine_box:
    for big_box in box:
        print(big_box)

karan
canada
dipen
una

In [22]:
#sets are unorderd collaection of unieque element

In [3]:
s = {"red","orange","blue","purple","narangi","yash"}
type(s)

set

In [35]:
print(s)#hence prove sets are unorderd collaection of unieque element

{'orange', 'purple', 'red', 'blue'}

In [4]:
s

{'blue', 'narangi', 'orange', 'purple', 'red', 'yash'}

In [37]:
s[0] # sets no concept of indexing as sets are unordered and unique

TypeError: 'set' object is not subscriptable

In [5]:
s

{'blue', 'narangi', 'orange', 'purple', 'red', 'yash'}

In [44]:
s.add("yash") # sets are mutable object but not acept append function its used add fuction  to use

In [41]:
s.remove("yash")

In [6]:
s[1]

TypeError: 'set' object is not subscriptable

In [46]:
#use case of sets >> to get unique elment

In [10]:
glossary_list={"banana","apple","chevdo","soda","apple",2.3,"5+j6",45}
type(glossary_list)

set

In [3]:
#dictionaries >> which is store the datain form of key value pair
dist = {"yash","nihar"}
type(dist)

set

In [26]:
dist = {"yash":'jk',"nihar" : 200}#in dictionaries ["agter variable"] use [:] and after put some value in single quate or double quate that the
                                      #differnce between set and dict
type(dist)

dict

In [27]:
#used cases of dist

In [37]:
phonebook = {"dpn":82519 ,"mpn":951001 , "dpn":789654}
type(phonebook)

dict

In [52]:
phonebook.remove("yash",798546)

AttributeError: 'dict' object has no attribute 'remove'

In [38]:
phonebook["dpn"]#dpn value has benn updated

789654

In [41]:
phonebook["dpn"]=4649896
phonebook["dpn"]

4649896

In [42]:
phonebook

{'dpn': 4649896, 'mpn': 951001}

In [45]:
phonebook.values()#its remeber that how define keys and values in disct

dict_values([4649896, 951001])

In [44]:
phonebook.keys()

dict_keys(['dpn', 'mpn'])

In [46]:
from array import array

arrary simmilar to the list << but array used homogeneous data

In [51]:
array('i',[1,2,3])#aray only contain 1 value in single or double quate

array('i', [1, 2, 3])

## STRING

In [11]:
#ASCII Represetation

In [23]:
v = "Z"
B = "A"
ord(v)

90

In [24]:
ord(B)

65

In [25]:
c="a"
ord(c)

97

In [26]:
m="1"
ord(m)

49

In [27]:
#UNICODE REPRESENTATION
#Omega

In [33]:
"\u0394"

'Δ'

In [35]:
'\u0973'

'ॳ'

In [36]:
'\u0A23'

'ਣ'

In [41]:
'\u0455'

'ѕ'

In [42]:
'\u0465'

'ѥ'

In [43]:
a = "Ajay"
a[0]

'A'

In [45]:
a[2]

'a'

In [3]:
s = "i am good student"
s

'i am good student'

In [5]:
s.replace("student" ,"teacher")

'i am good teacher'

In [19]:
#use case
address = "b suhana apt, marathalli, Banaglore"
address

'b suhana apt, marathalli, Banaglore'

In [16]:
address.replace("123","apartment")

'apartment suhana apt, marathalli, Banaglore'

In [8]:
address.upper()

'123 SUHANA APT, MARATHALLI, BANAGLORE'

In [9]:
address.lower()

'123 suhana apt, marathalli, banaglore'

In [10]:
address.title()

'123 Suhana Apt, Marathalli, Banaglore'

In [11]:
address.swapcase()

'123 SUHANA APT, MARATHALLI, bANAGLORE'

In [20]:
address.capitalize()

'B suhana apt, marathalli, banaglore'

In [23]:
"suh6a" in address

False

In [27]:
S=["AJAY, SANJAY , BIKAY"]
S

['AJAY, SANJAY , BIKAY']

In [28]:
sorted(S)

['AJAY, SANJAY , BIKAY']

In [29]:
address.strip()

'b suhana apt, marathalli, Banaglore'

In [30]:
data = "Ajay, data science, teacher"
data

'Ajay, data science, teacher'

In [39]:
data.split(",")

['Ajay', ' data science', ' teacher']

In [43]:
data.split(",")

['Ajay', ' data science', ' teacher']

In [46]:
a=data.split(",")

In [48]:
a

['Ajay', ' data science', ' teacher']

In [49]:
name = a[0]
course = a[1]
teacher_name = a[2]

In [50]:
name

'Ajay'

In [51]:
course

' data science'

In [52]:
teacher_name

' teacher'

In [53]:
teacher_name.split()

['teacher']

In [5]:
str1 = "pwskills"
str1.startswith("pws")

True

In [7]:
yk = "wj9ejwnec"
yk.startswith("rv9")

False

In [8]:
yk.endswith("nec")

True

In [22]:
a = "pwskills"
a.isalnum()

True

In [23]:
count = 0
for i in a:
    print(i)

p
w
s
k
i
l
l
s

In [32]:
lis=[]
lis.append("niansc")
lis

['niansc']

#conditional statement
#if

In [1]:
#syntax
#if conditin true:
    #block of code willbe excuted

In [10]:
a =100
if a < 0:
    print("the numerr is greater then 0.")
else:
    input("the number is less then 0.")

the number is less then 0. hii

In [20]:
student = 140
if student <=150:
    print("average student")
else:
    print("cleaver student")

average student

In [8]:
num = int(input("enter you number"))
if num % 2 == 0:
    print("even")
else:
    print("odd")

enter you number 49

odd

In [44]:
#multiple contion and else statement used
number = 3
if (number % 2 == 0) & (number > 0):
    
    print("even")
else:
    print("odd")

odd

In [33]:
dipak_age = 30
dipen_age = 35
if dipak_age >= dipen_age:
    print("dipak is bigger then the dipen")
else:
    print("dipak is smaller than dipen")

dipak is smaller than dipen

In [38]:
karan = False
if karan:#thant assume a true statment 
    print("i am going aboroad")
else:
    print("i will stay in india")

i will stay in india

#if else >> two condition
#in real life we can have multiple condition
#syntax
#if some condition 
#elief some condition
#eise

In [10]:
a = 10
if a == 100:                #remember (=)its indicate assign value. where (==) indicate was a condition if value = 100 its not assingning the value 
    print("yash")                #if one of the  condition was true then after whatever codition may be match the condion was neglated
                                 #after one condition was satisfied and excuted that box
elif a>1000:
    print("number is useged")
elif a<100:
    print("nihar")
else:
    print("jigar")

nihar

In [11]:
#lets practice less then and equal to conditon

In [18]:
score = int(input("enter you mark"))
if score >= 90:
    print("Gread A")
elif (80 <= score <= 90):
    print("Gread B")
elif(70 <= score <= 80):
    print("Gread C")
elif ( 60 <= score >70):
    print("Gread c1")

    
else:
    print("Gread D")

enter you mark 65

Gread D

In [21]:
score = 59
if score >= 90:
    print("Gread A")
elif (80 <= score < 90):
    print("Gread B")
elif(70 <= score < 80):
    print("Gread C")
elif(60 <= score <70):
    print("Gread C1")
else:
    print("Gread D")

Gread D

In [12]:
#nested if else >> you can have multiple if else inside else
x = 4
y = 7
if x > 5:
    if y > 5:
        print("both x and y is greater than 5")
    else:
        print("x is greater than 5 but y is less than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

In [22]:
is_vip = True # its very important example 
age = 77
if is_vip:
    if age >= 18:
        if age < 65:
            print("welcome to vip customer")
        else:
            print("you are vip and very imp. you are elegible for senior citizen discount")
    else:
        print("vip status is only for adult")
else:
    print("you are not a vip customer and will be charged a regular price")

you are vip and very imp. you are elegible for senior citizen discount

In [9]:
a = int(input("namber put "))
print(type(a), "the numer is" ,a)

namber put  100

<class 'int'> the numer is 100

In [7]:
int(a)

120

In [10]:
type(a)

int

In [20]:
a = int(input("namber put "))
if a>100:
    print("the no is greater than 100")
elif a == 100:
    print("the number is equal  to 100")
elif 0<a<100:
    print("the no is greater than 0 and less than 100")
elif 0==0:
    print("invalid input")
else:
    print("this is negative no")

namber put  1

the no is greater than 0 and less than 100

In [29]:
#form fiilling
name = input("Please enter your name")
email = input("Please enter your email")
passworld=input("Please enter your passworld")

if name == "":
    print("please enter a valid name,can not be empty")
else:
    if "@" not in email:
        print("Please enter a valid email")
    else:
        if len(passworld) <= 0:
            print("No password entered , pls provide a valid password")
        else:
            print("Login/resigstration is sucessfull")

Please enter your name yash
Please enter your email @
Please enter your passworld

No password entered , pls provide a valid password

In [26]:
len("niha5r") #len provide a how many numer in string

6

loop statement 

it allows you to excute a block of code repeatedly

loops are two type

(1) while loop
(2) for loop

In [30]:
#while loop>> repeatedly excuted a blockof code untill a condition is met

In [31]:
#syntax
#while >> while is a key world used for a while loop

In [1]:
y = 4
k = 0
while k <= y:
    print(k)
    k=k+1
else:
    print("The number is higher than y")

0
1
2
3
4
The number is higher than y

In [68]:
x = 5
while x > 0:
    print(x)
    x = x - 1

5
4
3
2
1

In [76]:
y = 4        # use break statement to exit the while loop 
k = 0
while k <= y:
    print(k)
    k = k+1
    if k == 3:
        break
else:
    print("The number is higher than y")  # practice more all arithmatic operation like /,*,-,+,% etc

0
1
2

In [ ]:
#continue statement<< skip the iteration

In [ ]:
y = 7        # use continue statement to skip the number and continue process the while loop 
k = 1
while k < y:
    if k <= 4:
        continue
    print(k)
    k=k+1
else:
    print("The number is higher than y")

In [ ]:
#for loops >> iterate over a sequence of element >> string, list
for i in "yash solanki":
    print(i , end="")

In [16]:
l = [1,2,"karan","milan"] #for loops >> iterate over a sequence of element >> string, list
for x in l:
    print(x)
else:
    print("error")

1
2
karan
milan
error

In [25]:
#break statement i for loop
l = [1,2,"ajay","karan","milan"] 
for x in l:
    if x == "karan":
        break
    print(x)
    
else:
    print("error")

1
2
ajay

In [1]:
l = [1,2,"karan","milan"] 
for x in l:
    if x == "milan":
        continue
    print(x)
    
else:
    print("error")

1
2
karan
error

In [26]:
list(range(0,10))           #list is a function to give a value to 0 to 10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(10):#use space betwwn string if not output was not give by space
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [1]:
#syantax of range (start,stop,step)
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(0,100,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [4]:
#problem statement
#print a right triangle with star(*)

In [21]:
row = 1
while row < 5:
    col = 1
    while col <= row:
        print("*", end = " ")
        col = col+1
    print()
    row =row+1

*
* *
* * *
* * * *

In [28]:
for i in range(5):#0,1,2,3
    for j in range(i+1,5):#0+1 that means 0 
        print("*",end = " ")#print only 1 star
    print()

* * * *
* * *
* *
*

In [25]:
#internal homework
for i in range(5):
    for j in range(i+1):
        print(j+1,end = " ")
    print()
    j = i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [22]:
list1 = [1,2, 3, 4, 5, 6, 7, 8, 9]
for i in list1:
    if (i == 3) or (i == 7):
        continue
    print(i)

1
2
4
5
6
8
9

In [24]:
#print the even numer
for i in range(0,10):
    if i%2 != 0:
        continue
    print(i)

0
2
4
6
8

In [19]:
#write a code year is leap year or not

#A leap year is exactly divisible by 4 except for century years (years ending with 00). 
#The century year is a leap year only if it is perfectly divisible by 400. For example,

In [42]:
year = int(input("enter year"))
if year/4:
    if (year%400==0) and (year%100==0):
        print("its leap year")
    elif (year%4 == 0) and (year%100 != 0):
        print("its a leap year")
    else:
        print("its not a leap year")

enter year 400

its leap year

In [3]:
#age classify
#if age is beteween 50 to 70 and more than 100000000 money you are retired 
age = int(input("age"))
disease=input("any disese")
money=int(input("enter a money"))
married_status = input("married_status")
job_status = input("job_status")
do_you_have_a_child = input("do_you_have_a_child")

if age >=70 and  disease == "no": 
    print("you are good buddha")
elif (50 <= age <=70) and (money >= 1000):
    print("you are retaired")
elif (50 <= age <=70) and (500 <= money <=1000):
    print("you are working buddha")
elif (50 <= age <=70) and (500 < money):
    print("You just started you career")
elif (20 <= age <= 50) and (married_status=="yes" and job_status=="yes" and do_you_have_a_child=="yes"):
    print("you are young")
elif (age <=20) and (job_status=="no"):
    print("you are berojgar")
else:
    print("you are not a good buddha")

age 75
any disese no
enter a money 1565
married_status no
job_status no
do_you_have_a_child no

you are good buddha