In [1]:
import math as s#math is libray collation of funtion

In [2]:
s.ceil(6.5)

7

In [3]:
s.floor(6.5)

6

In [4]:
#function>> inbuilt function
#user defined function

In [24]:
#return statment:-

In [5]:
#function is a block of code which performs some specific task/computation
#why function?>> functions are reusable, neat, clean and organised, saves your time

In [6]:
#syntax of function
#def func():
    #do something>> body of function

In [9]:
print("Welcome to the office Rahul")
print("Welcome to the office Shyam")
print("Welcome to the office Anshika")

Welcome to the office Rahul
Welcome to the office Shyam
Welcome to the office Anshika

In [10]:
def greetings(): 
    print("Welcome to the office")

In [11]:
greetings()

Welcome to the office

In [12]:
def greetings(name): #passing a variable inside a function >> name is positional arguement
    print("Welcome to the office", name)

In [14]:
greetings("karan")

Welcome to the office karan

In [15]:
greetings("milan")

Welcome to the office milan

In [16]:
greetings()#name is positional arguement #it means whaterever value pass you here function will understand this is name value # its means positiona its self
#name is a argument

TypeError: greetings() missing 1 required positional argument: 'name'

In [17]:
def greet(ajay):
    print("Welcome to the office", ajay)

In [20]:
greet("ajay")

Welcome to the office ajay

In [21]:
greet("milan")

Welcome to the office milan

In [22]:
def func():
    print("This is my first function")
    
func()

This is my first function

In [6]:
"This is my first function" + " in Python"

'This is my first function in Python'

In [56]:
func() + "in Python"#practice google colab here show different error

TypeError: can only concatenate tuple (not "str") to tuple

In [21]:
def func():#return>> output of a function
                               #do something
    return"This is my first function"

func() + " in Python"

'This is my first function in Python'

In [41]:
def func():
    return "this is my first function", 1, 2.2, True, 3+7j

In [33]:
func()

('this is my first function', 1, 2.2, True, (3+7j))

In [34]:
def func():
    return ["ysaj iwjnec" , True , 5+8j, 0.75]
func()

['ysaj iwjnec', True, (5+8j), 0.75]

In [35]:
def func():
    return ("ysaj iwjnec" , True , 5+8j, 0.75)
func()

('ysaj iwjnec', True, (5+8j), 0.75)

In [36]:
a = func()
type(a)

tuple

In [48]:
a, b, c, d, e = func()

In [49]:
a

'this is my first function'

In [50]:
b

1

In [51]:
c

2.2

In [52]:
d

True

In [53]:
e

(3+7j)

In [54]:
a ,b, c = func()

ValueError: too many values to unpack (expected 3)

In [57]:
a = func()
a

('this is my first function', 1, 2.2, True, (3+7j))

In [58]:
a[1]

1

In [59]:
a[0]

'this is my first function'

In [60]:
def func():
    calc = 2+3+6*5
    return calc

In [61]:
func()

35

In [63]:
type(func())

int

In [64]:
def square_no(a): #a is called as an arguement
    return a*a

In [65]:
square_no(9)

81

In [70]:
#a is argument you can change the name any charater #suare_no also a varible that you can change anthing you want to know

In [67]:
def square_no(args):
    return args*args

square_no(106)

11236

In [68]:
def addition(a, b):
    return a+b

In [71]:
addition(5,8)

13

In [72]:
addition("pw", "skills")

'pwskills'

In [73]:
addition([1, 2, 3], [4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [74]:
addition("skills", "pw")

'skillspw'

In [75]:
# a and b are positional arguements>> it maintains order


addition(b="skills", a="pw")

'pwskills'

In [76]:
def sum1(a, b, c):
    return a+b+c

In [77]:
sum1(4, 8, 5)

17

In [78]:
#default argement
def sum1(b, c, a=0):#if a is not(its not given eroor) its okay if give then calculated 
    return a+b+c

In [80]:
sum1(4,5)

9

In [81]:
sum1(4,5,7)

16

In [85]:
def sum1(a, b, c): #non-default argument follows default argument
    return a+b+c

In [86]:
sum1(4,5,6)

15

In [87]:
sum1(4,5)

TypeError: sum1() missing 1 required positional argument: 'c'

In [88]:
def sum1(b=0, c=0, a=0):
    return a+b+c

In [91]:
sum1()

0

In [93]:
sum1(4,8,5)

17

In [94]:
def sum1(b=5, c=0, a=0):
    return a+b+c

In [95]:
sum1()

5

In [99]:
sum1(a=3)

8

In [100]:
sum1(5)

5

In [106]:
def add_two_number():
    a = int(input("enter the first no"))
    b = int(input("enter the second no"))
    return a+b

In [108]:
add_two_number()

enter the first no 78
enter the second no 40

118

In [ ]:
#write a function that takes list as input and return all numeric values in a list

In [114]:
def only_numeric(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
    return n

In [115]:
only_numeric([1, 2.2, "Ajay", True, 3+7j, "pwskills", 5, 6])

[1, 2.2, 5, 6]

In [117]:
#now in input take nested list
#only_numeric([1, 2.2, "Ajay", True, 3+7j, "pwskills", 5, 6, [100, 101, "Ajay"]])

In [128]:
def only_numeric(a):
    n = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
                else:
                     if type(i) == int or type(i) == float:
                            n.append(i)
    return n

In [132]:
only_numeric([1, 2.2, "Ajay", True, 3+7j, "pwskills", 5, 6, [100, 101, "Ajay"]])

[1, 2.2, 5, 6, 100, 101]

In [1]:
#variable length arguement>>when you dont know the no of arguments

In [3]:
def sum1(*args):
    return args

In [4]:
sum1(1,5,7,8,9,21,45)

(1, 5, 7, 8, 9, 21, 45)

In [6]:
#A function which can take any no of values and return the sum

def sum1(*args):
    s = 0
    for i in args:
        s = s+i
    return s

In [7]:
sum1(5,6,7)

18

In [8]:
#variable arguement with default arguement
def test(*args, a):#first write variable argumennt
    return args, a

In [10]:
test(0,5,7,9,14,a="kajdeu")

((0, 5, 7, 9, 14), 'kajdeu')

In [11]:
#variable arguement >> takes any no of argement
#positional argement>> fixed argement

In [12]:
#write a function can take any no of values and returns the list

In [14]:
def return_list(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [15]:
return_list(1, 2, 2.3, 5+7j, {2,3},[4, 5, [6, 7]], [1, 2, 3, 4], (2,3), True, "Ajay")

[[4, 5, [6, 7]], [1, 2, 3, 4]]

In [16]:
def team(name, project):
    return f"{name} is working on {project}."

team("Ajay", "CV")

'Ajay is working on CV.'

In [26]:
def adc(*ajay,**bijay):
    return ajay , bijay
adc(1,2,3,4,5,6,a=456,b=455)

((1, 2, 3, 4, 5, 6), {'a': 456, 'b': 455})

In [36]:
#python namesapce

def greet():
    message = "hello, welcome!" #message variable is a local variable(scope is only inside function)
    print(message)

In [37]:
greet()

hello, welcome!

In [38]:
subpart = " to the course" #global variable>> can be accessed outside the function as well
def greet():
    message = "hello, welcome" + subpart
    print(message)

In [39]:
greet()

hello, welcome to the course

In [40]:
#namespace>> scope of variables
#local variable>> a function defined inside a function should be accessed in the function only
#global variable>> accessed any where

In [48]:
#function inside function


def marks_in_subject(**kwargs):
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
    return marks_list

In [49]:
marks_in_subject(a = 90, b=40, c=30)

[90, 40, 30]

In [50]:
#calling function from outside
def total_marks(marks_list):
    return sum(marks_list)

def marks_in_subject(**kwargs):
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
        
    return total_marks(marks_list)

In [51]:
marks_in_subject(a=45 ,b=989 ,c=555)

1589

In [52]:
def find_power(num, power):
    return num*power

In [55]:
find_power(2,3)

6

In [56]:
2*3

6

In [60]:
def find_power(num, power):#this is cold documataion
    
    """This function returns the power of no
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
    integer: power of no
    """
    return num*power

In [61]:
help(find_power)

Help on function find_power in module __main__:

find_power(num, power)
    This function returns the power of no
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
    integer: power of no

In [65]:
print(find_power.__doc__)

This function returns the power of no
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
    integer: power of no

## iterator and gerators

In [ ]:
#iterable>>
#An iterable is any python object/sequential structure/data structure that is capable of returning
#its members one at a time
#permitting it to be iterated over in a for loop
#example>> list, tuples

In [3]:
for i in ("cehuiehi6544"):#list is a iterable object
    print(i,end="")

cehuiehi6544

In [ ]:
#iteration>>
#iteration is a process of looping through the elements fof an iterable (list, string).
#using a loop
#The process of returning element one by one iteration

In [4]:
for i in"imwncwec":
    print(i)

i
m
w
n
c
w
e
c

In [1]:
#iterator>> an iterator is an object representing a stream of data>>return the data one by one

#Analogy
#potato(iterable) >> it can not be cooked in original form
#chop/wash the potato >> ready for cooking>>iterator
#the process of cooking>>iteration

In [5]:
#how pythone decide that s should be iterated >> comesthe concept of itertor 
s ="pwskill"#string is iterable
for i in s:
    print(i)

p
w
s
k
i
l
l

In [6]:
#python >>can i preparee s for iteration

iter(s)#iterator object>>ready to the iterated

In [12]:
a=iter(s)
iter(a)

In [13]:
next(a)

'p'

In [14]:
next(a)

'w'

In [43]:
for i in "pwskill": #first conveting the iterable string to iterator object(using iter) and then access using next
    print(i)

p
w
s
k
i
l
l

In [46]:
i = "pwskill"
z=iter(i)
iter(z)

In [47]:
next(z)

'p'

In [48]:
next(z)

'w'

In [49]:
l = iter([1,2.3,4,5])
l

In [50]:
next(l)

1

In [51]:
t = iter((1,2,3,4))
t

In [52]:
next(t)

1

In [53]:
d = iter({"name":"Ajay"})
d

In [54]:
next(d)

'name'

In [55]:
#generator function

In [56]:
#regular function>> takes a list and gives square of each of the list
def square_number(n):
    result = []
    for i in n:
        result.append(i ** 2)
    return result
square_number([5, 10, 15])

[25, 100, 225]

In [57]:
#regular function calculates the square of the values and return in one go
#since its returning in one go>>memory usage will be more and 
#it will a lot of execution time if there is lot of computation as all the
#computations will be done first and then the calculation will be returned in one go
def square_number(n):
    result = []
    for i in range(n):
        result.append(i ** 2)
    return result
square_number(10)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#can we have something to generate result one by one one instead of one go
#yield >> general function uses return statment but a generator function use yield statement

In [2]:
def square_number_gen(n):#it is an iterator object
    for i in range(n):
        yield (i ** 2)#yield is creating a generator similar to iterator object
square_number_gen(10)

In [3]:
gen = square_number_gen(10)

In [4]:
next(gen)

0

In [5]:
next(gen)

1

In [6]:
next(gen)

4

In [7]:
#fibonacci series>sum of last two number 0, 1, 1, 2, 3,5, 8...

In [10]:
def fib(n):
    a = 0 
    b = 1
    for i in range(n): #if n=5, 0, 1, 2, 3, 4
        yield a
        a, b = b, a+b

In [12]:
f = fib(10)
f

In [13]:
next(f)

0

In [14]:
next(f)

1

In [15]:
next(f)

1

In [16]:
next(f)

2

In [17]:
next(f)

3

In [18]:
next(f)

5

In [19]:
next(f)

8

In [20]:
next(f)

13

In [21]:
next(f)

21

In [22]:
next(f)

34

In [23]:
next(f)

StopIteration:

In [ ]:
#write a funtion/program to create a reqursive function to calculate sum nos from 0-10

In [ ]:
def addition(num):
    if num:
        return num = additional

In [ ]:
#a list is given seprate string , integer , float in there seprate list
def ff(code):

In [25]:
#home work same above question list is nested

In [26]:
#write a function takes ** kwargs and *args , and return whichever value is a set or tuple

In [27]:
#a variable inside a function will be accessed  inside a function only>> local variable 
#every where a global varible 
a=10
def func(a,b):
    c = a+b
    return c

In [28]:
func(5,6)

11

In [30]:
#lamda function:-anomynous and handfunction

In [31]:
#syntax-lamda argument : expression

In [33]:
sq=lambda x: x**2

In [34]:
sq(6)

36

In [39]:
#map
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [40]:
def qw(l):
    return l**2

In [44]:
l=["2","3","5"]
list(map(int,l))

[2, 3, 5]

In [45]:
#reduce 

from functools import reduce

In [48]:
l = [2,1,48,654,56,45]
reduce(lambda x, y: x+y ,l)

806

In [50]:
l = [1,4,65,9,94,64448,54]

In [52]:
#filter
list(filter(lambda x: x%2==0,l))

[4, 94, 64448, 54]

In [ ]:
first_name=["Ajay","Ramu"]
last name = ["Gupta","sinha"]

#combine respective first name and last name
#make the first name all character being small
#return a list. if last name is gupta is 1 other is  0

In [1]:
#lambda function>> anonymous function
#syntax 
# lambda arguments : expression >> no need of return statement and def keyword

In [3]:
#using lambda with map
l=[1,5,4]
list(map(lambda x: x**2, l))

[1, 25, 16]

In [4]:
#reduce >> folding/reduction
#syntax>> #reduce(func, iterable)
#reduce will always take two arguement function
from functools import reduce

In [5]:
l = [2, 1, 3, 4, 4, 5, 6]
reduce(lambda x, y:x+y, l)

25

In [6]:
#the highest values at each stage you are comparing x and y
numbers = [1, 2, 5, 3, 100, 1000, 6, 10000]
reduce(lambda x, y: x if x>y else y, numbers)

10000

In [7]:
#filter function >> it is used to filter elements from an iterable based on some condition
#syntax>> filter(function, iterable)

In [8]:
list(filter(lambda x: x%2 != 0, l))

[1, 3, 5]

In [2]:
# Python program to
# demonstrate with
# statement

L = ["Geeks\n", "for\n", "Geeks\n"]


# Writing to file
with open("file.txt", "w") as fp:
    fp.writelines(L)


# using readlines()
count = 0
print("Using readlines()")

with open("file.txt") as fp:
    Lines = fp.readlines()
    for line in Lines:
        count += 1
        print("Line{}: {}".format(count, line.strip()))


# Using readline()
count = 0
print("\nUsing readline()")

with open("file.txt") as fp:
    while True:
        count += 1
        line = fp.readline()

        if not line:
            break
        print("Line{}: {}".format(count, line.strip()))


# Using for loop
count = 0
print("\nUsing for loop")

with open("file.txt") as fp:
    for line in fp:
        count += 1
        print("Line{}: {}".format(count, line.strip()))

Using readlines()
Line1: Geeks
Line2: for
Line3: Geeks

Using readline()
Line1: Geeks
Line2: for
Line3: Geeks

Using for loop
Line1: Geeks
Line2: for
Line3: Geeks

In [9]:
str1="hello world"
new_str1=""
new_str2=''.join(filter(lambda x:x.lower() not in "'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'",str1))

In [10]:
print(new_str2)

hllwrld