#conditional statement
#if

In [1]:
#syntax
#if conditin true:
    #block of code willbe excuted

In [10]:
a =100
if a < 0:
    print("the numerr is greater then 0.")
else:
    input("the number is less then 0.")

the number is less then 0. hii

In [20]:
student = 140
if student <=150:
    print("average student")
else:
    print("cleaver student")

average student

In [8]:
num = int(input("enter you number"))
if num % 2 == 0:
    print("even")
else:
    print("odd")

enter you number 49

odd

In [44]:
#multiple contion and else statement used
number = 3
if (number % 2 == 0) & (number > 0):
    
    print("even")
else:
    print("odd")

odd

In [33]:
dipak_age = 30
dipen_age = 35
if dipak_age >= dipen_age:
    print("dipak is bigger then the dipen")
else:
    print("dipak is smaller than dipen")

dipak is smaller than dipen

In [38]:
karan = False
if karan:#thant assume a true statment 
    print("i am going aboroad")
else:
    print("i will stay in india")

i will stay in india

#if else >> two condition
#in real life we can have multiple condition
#syntax
#if some condition 
#elief some condition
#eise

In [10]:
a = 10
if a == 100:                #remember (=)its indicate assign value. where (==) indicate was a condition if value = 100 its not assingning the value 
    print("yash")                #if one of the  condition was true then after whatever codition may be match the condion was neglated
                                 #after one condition was satisfied and excuted that box
elif a>1000:
    print("number is useged")
elif a<100:
    print("nihar")
else:
    print("jigar")

nihar

In [11]:
#lets practice less then and equal to conditon

In [18]:
score = int(input("enter you mark"))
if score >= 90:
    print("Gread A")
elif (80 <= score <= 90):
    print("Gread B")
elif(70 <= score <= 80):
    print("Gread C")
elif ( 60 <= score >70):
    print("Gread c1")

    
else:
    print("Gread D")

enter you mark 65

Gread D

In [21]:
score = 59
if score >= 90:
    print("Gread A")
elif (80 <= score < 90):
    print("Gread B")
elif(70 <= score < 80):
    print("Gread C")
elif(60 <= score <70):
    print("Gread C1")
else:
    print("Gread D")

Gread D

In [12]:
#nested if else >> you can have multiple if else inside else
x = 4
y = 7
if x > 5:
    if y > 5:
        print("both x and y is greater than 5")
    else:
        print("x is greater than 5 but y is less than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

In [22]:
is_vip = True # its very important example 
age = 77
if is_vip:
    if age >= 18:
        if age < 65:
            print("welcome to vip customer")
        else:
            print("you are vip and very imp. you are elegible for senior citizen discount")
    else:
        print("vip status is only for adult")
else:
    print("you are not a vip customer and will be charged a regular price")

you are vip and very imp. you are elegible for senior citizen discount

In [9]:
a = int(input("namber put "))
print(type(a), "the numer is" ,a)

namber put  100

<class 'int'> the numer is 100

In [7]:
int(a)

120

In [10]:
type(a)

int

In [20]:
a = int(input("namber put "))
if a>100:
    print("the no is greater than 100")
elif a == 100:
    print("the number is equal  to 100")
elif 0<a<100:
    print("the no is greater than 0 and less than 100")
elif 0==0:
    print("invalid input")
else:
    print("this is negative no")

namber put  1

the no is greater than 0 and less than 100

In [29]:
#form fiilling
name = input("Please enter your name")
email = input("Please enter your email")
passworld=input("Please enter your passworld")

if name == "":
    print("please enter a valid name,can not be empty")
else:
    if "@" not in email:
        print("Please enter a valid email")
    else:
        if len(passworld) <= 0:
            print("No password entered , pls provide a valid password")
        else:
            print("Login/resigstration is sucessfull")

Please enter your name yash
Please enter your email @
Please enter your passworld

No password entered , pls provide a valid password

In [26]:
len("niha5r") #len provide a how many numer in string

6

loop statement 

it allows you to excute a block of code repeatedly

loops are two type

(1) while loop
(2) for loop

In [30]:
#while loop>> repeatedly excuted a blockof code untill a condition is met

In [31]:
#syntax
#while >> while is a key world used for a while loop

In [77]:
y = 4
k = 0
while k <= y:
    print(k)
    k = k+1
else:
    print("The number is higher than y")

0
1
2
3
4
The number is higher than y

In [68]:
x = 5
while x > 0:
    print(x)
    x = x - 1

5
4
3
2
1

In [76]:
y = 4        # use break statement to exit the while loop 
k = 0
while k <= y:
    print(k)
    k = k+1
    if k == 3:
        break
else:
    print("The number is higher than y")  # practice more all arithmatic operation like /,*,-,+,% etc

0
1
2

In [ ]:
#continue statement<< skip the iteration

In [9]:
y = 7        # use continue statement to skip the number and continue process the while loop 
k = 1
while k < y:
    k = k+1
    if k <= 4:
        continue
    print(k)
else:
    print("The number is higher than y")

5
6
7
The number is higher than y

In [11]:
#for loops >> iterate over a sequence of element >> string, list
for i in "yash solanki":
    print(i)

y
a
s
h

s
o
l
a
n
k
i

In [16]:
l = [1,2,"karan","milan"] # for loops try to sequace the data in squincly and individual data
for x in l:
    print(x)
else:
    print("error")

1
2
karan
milan
error

In [25]:
#break statement i for loop
l = [1,2,"ajay","karan","milan"] 
for x in l:
    if x == "karan":
        break
    print(x)
    
else:
    print("error")

1
2
ajay

In [23]:
l = [1,2,"karan","milan"] 
for x in l:
    if x == "milan":
        continue
    print(x)
    
else:
    print("error")

1
2
karan
error

In [26]:
list(range(0,10))           #list is a function to give a value to 0 to 10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(10):#use space betwwn string if not output was not give by space
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [1]:
#syantax of range (start,stop,step)
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(0,100,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [4]:
#problem statement
#print a right triangle with star(*)

In [21]:
row = 1
while row < 5:
    col = 1
    while col <= row:
        print("*", end = " ")
        col = col+1
    print()
    row =row+1

*
* *
* * *
* * * *

In [28]:
for i in range(5):#0,1,2,3
    for j in range(i+1,5):#0+1 that means 0 
        print("*",end = " ")#print only 1 star
    print()

* * * *
* * *
* *
*

In [25]:
#internal homework
for i in range(5):
    for j in range(i+1):
        print(j+1,end = " ")
    print()
    j = i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [22]:
list1 = [1,2, 3, 4, 5, 6, 7, 8, 9]
for i in list1:
    if (i == 3) or (i == 7):
        continue
    print(i)

1
2
4
5
6
8
9

In [24]:
#print the even numer
for i in range(0,10):
    if i%2 != 0:
        continue
    print(i)

0
2
4
6
8

In [19]:
#write a code year is leap year or not
#Every year that is exactly divisible by four is a leap year, except for years that are exactly divisible by 100, 
#but these centurial years are leap years if they are exactly divisible by 400.

In [26]:
year = int(input("enter year"))
if year / 4 == 0:
    print("itsa leap year")
elif (year / 100 == 0):
    print("its not a leap year")

enter year 2024

In [25]:
#age classify
#if age is beteween 50 to 70 and more than 100000000 money you are retired 
age = int(input("age"))
disease=input("any disese")
money=int(input("enter a money"))
married_status = input("married_status")
job_status = input("job_status")
do_you_have_a_child = input("do_you_have_a_child")

if age >=70 and  disease == "no": 
    print("you are good buddha")
elif (50 <= age <=70) and (money >= 1000):
    print("you are retaired")
elif (50 <= age <=70) and (500 <= money <=1000):
    print("you are working buddha")
elif (50 <= age <=70) and (500 < money):
    print("You just started you career")
elif (20 <= age <= 50) and (married_status=="yes" and job_status=="yes" and do_you_have_a_child=="yes"):
    print("you are young")
elif (age <=20) and (job_status=="no"):
    print("you are berojgar")

age 15
any disese no
enter a money 10
married_status no
job_status no
do_you_have_a_child no

you are berojgar

In [ ]:
#