# Writing Your Python Code

**Say "Hello" to the world in Python**

`[Tip]: To execute the Python code in the code cell below, click on the cell to select it and press Shift + Enter.`

In [1]:
# Try your first python code

print('Hello, Neurons.')

Hello, Neurons.

- After executing the cell above, you should see that Python prints `Hello, Neurons` Congratulations on running your Python code!

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

To write comments in Python, use the number symbol `#` before writing your comment. When you run your code, Python will ignore everything past the # on a given line.

In [3]:
# print('Hi')

In [4]:
# create a function
def addition(a, b):
    '''
    This is a function is to perform addition operation
    '''
    print('Performing addition operation')
    output = a + b
    print(f'{a} + {b} is =', output)
    return output

In [5]:
addition(2, 1)

Performing addition operation
2 + 1 is = 3

3

In [1]:
a=["yash",1,2,True,False,(3+5j),20.5,"pwskill"]
a

['yash', 1, 2, True, False, (3+5j), 20.5, 'pwskill']

In [4]:
a.append("nihar")#hit shift and tab to get detail about append

In [5]:
a

['yash', 1, 2, True, False, (3+5j), 20.5, 'pwskill', 'nihar', 'nihar']

In [6]:
a.remove("yash")

In [7]:
a

[1, 2, True, False, (3+5j), 20.5, 'pwskill', 'nihar', 'nihar']

In [8]:
a.remove("nihar")

In [9]:
a

[1, 2, True, False, (3+5j), 20.5, 'pwskill', 'nihar']

In [10]:
b=[[0,1,2,],[3,4,5],[6,7,8]]
b

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [13]:
b[0][-1]

2

In [4]:
b=[[0,1,2,],[3,4,5],[6,7,8]]
b

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [5]:
b[1][1]

4

In [6]:
b[2][-1]

8

In [7]:
#list is a mutable
mutable_object=["apple","banana",(3+5j),45,"yash"]
mutable_object

['apple', 'banana', (3+5j), 45, 'yash']

In [10]:
mutable_object.append("kiran")

In [11]:
mutable_object

['apple', 'banana', (3+5j), 45, 'yash', 'kiran']

In [12]:
#tuple is immutable 
lists =(2,4)
type(lists)

tuple

In [15]:
lists.append("jk")#thats why its called immutable object

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
#used tuple >> tuple used for we dont change the data like adhar card or we can say bank details 
#you dont want change you usedd to store a data
#tuple can store heterogenous data

In [18]:
box_no1=("karan","canada")
box_no2=("dipen","una")
combine_box=(box_no1,box_no2)
combine_box

(('karan', 'canada'), ('dipen', 'una'))

In [21]:
for box in combine_box:
    for big_box in box:
        print(big_box)

karan
canada
dipen
una

In [22]:
#sets are unorderd collaection of unieque element

In [30]:
s = {"red","orange","blue","purple","narangi","yash"}
type(s)

set

In [35]:
print(s)#hence prove sets are unorderd collaection of unieque element

{'orange', 'purple', 'red', 'blue'}

In [36]:
s

{'blue', 'orange', 'purple', 'red'}

In [37]:
s[0] # sets no concept of indexing as sets are unordered and unique

TypeError: 'set' object is not subscriptable

In [45]:
s

{'blue', 'orange', 'purple', 'red', 'yash'}

In [44]:
s.add("yash") # sets are mutable object but not acept append function its used add fuction  to use

In [41]:
s.remove("yash")

In [42]:
s

{'blue', 'orange', 'purple', 'red'}

In [46]:
#use case of sets >> to get unique elment

In [1]:
glossary_list={"banana","apple","chevdo","soda","apple"}
type(glossary_list)

set

In [3]:
#dictionaries >> which is store the datain form of key value pair
dist = {"yash","nihar"}
type(dist)

set

In [26]:
dist = {"yash":'jk',"nihar" : 200}#in dictionaries ["agter variable"] use [:] and after put some value in single quate or double quate that the
                                      #differnce between set and dict
type(dist)

dict

In [27]:
#used cases of dist

In [37]:
phonebook = {"dpn":82519 ,"mpn":951001 , "dpn":789654}
type(phonebook)

dict

In [52]:
phonebook.remove("yash",798546)

AttributeError: 'dict' object has no attribute 'remove'

In [38]:
phonebook["dpn"]#dpn value has benn updated

789654

In [41]:
phonebook["dpn"]=4649896
phonebook["dpn"]

4649896

In [42]:
phonebook

{'dpn': 4649896, 'mpn': 951001}

In [45]:
phonebook.values()#its remeber that how define keys and values in disct

dict_values([4649896, 951001])

In [44]:
phonebook.keys()

dict_keys(['dpn', 'mpn'])

In [46]:
from array import array

arrary simmilar to the list << but array used homogeneous data

In [51]:
array('i',[1,2,3])#aray only contain 1 value in single or double quate

array('i', [1, 2, 3])