# assignment data structure

### 
Name:-Yash solanki

Reg email id:-yash87015@gmail.com

Course name:-Data analytic

Assignment name:-data structure

Submission date:-not declare

Git link:-https://github.com/Yash87015/YASH
(in git hub use assignment folder )

##  question 1 Discuss string slicing and provide examples ?

### ans 
String silicing:-String slicing in Python allows you to extract a portion of a string by specifying a start and end index. It follows the format string , where start is the index where slicing begins (inclusive) and end is the index where it ends (exclusive).

For example, with the string my_string = "Hello, World!", if you use my_string [7:12], it will return "World".
If you omit start, it starts from the beginning of the string. If you omit end, it goes to the end of the string.
Negative indices are also valid. string [-1] refers to the last character, string[-2] refers to the second last, and so on.

(Why is Python String Slicing Useful? 
1)Python string slicing is advantageous for a number of factors:Subsetting Data: It makes it simple to access and manipulate substrings inside a bigger text since it enables you to extract specific chunks of a string
2)Data Extraction: It makes the process of sifting through strings to find relevant information and extracting it, which is essential for tasks like data cleaning and analysis, simpler
3)String Manipulation: Slicing makes it easier to manipulate strings in a variety of ways, including reversing strings and extracting words or characters for additional use
4)Efficient Access: Slicing offers direct access to a segment rather than iterating through a string character by character, which may be more effective for some jobs
5)Substring Creation: It permits the creation of substrings for activities like producing distinctive IDs, decoding file paths, or producing outputs with specific formatting)


For understanding slicing we will use different methods, here we will cover 2 methods of string slicing,

(1) one using the in-build slice() method

(2) using the : array slice/list slicing

String slicing in Python is about obtaining a sub-string from the given string by slicing it respectively from start to end.

Index tracker for positive and negative index: String indexing and slicing in python. Here, the Negative comes into consideration when tracking the string in reverse.

positive index:-python uses a string index to retrieve a specific character from a string using the syntax string . All strings use zero-based indexing. Positive indexing increments the index from zero and from left to right.(space also count as a index see in negative index example)

In [1]:
#here positive index example 
jk = "hello" #here (h)=0,(e)=1,(l)=2,(l)=3,(o)=4 
print(jk[1])

e

In [2]:
#here negative index example 
jk = " hello" #here ( )=-6,(h)=-5,(e)=-4,(l)=-3,(l)=-2,(o)=-1
print(jk[-1]) # thats called negative index

o

In [6]:
print(jk[-6])

In [7]:
print(jk[-5])

h

### 
(1)Slice() Method:-The slice() method returns an object containing the range of string slicing. The parameter includes a set of range of values defined as (start, stop, step). Let's look at the syntax of the slice method().

Syntax:
slice( Start_Index, End_Index, Steps )

Here, Start_Index is the starting index of the string. End_Index is the last index before which all elements are considered. Steps are the number of steps to be jumped in each iteration. The Start_Index and Steps are optional. 

The Start_Index is 0 by default. The step is 1 by default.

lets see with example

In [1]:
#here some example of silice method # w=0,e=1,l=2,c=3,o=4,m=5,e=6 ( )=7, g=8,u=9,j=10,a=,11,r=,12,a=13,t=14
variable = "welcome gujarat"
print(variable[slice(7)])

welcome

In [7]:
#(start,end)index example
print(variable[slice(3,7)])

come

In [16]:
#(start,end,step) index example # step that skip the iteration(like here 2,4,6,8,10,12 are skip and print other output)
print(variable[slice(3,15,2)])

cm uaa

(2) List Slicing/Array Slicing:-The List Slicing method is the most common way of string slicing in Python. The parameter includes a set of range of values defined as [start:stop:step].

syntax:-any_variable_that_you_type[Start_Index:End_Index:Steps] 
Here, Start_Index is the starting index of the string. End_Index is the last index before which all elements are considered. The step is the number of steps to be jumped in each iteration.

Let's look at a few examples to understand string slicing in python

In [28]:
#here we see array slicing examples #note:-you can see diffence between array slicing and slice method.
#in slice method stat index is by default 0 and here arry slicing only that index print there is not any given by defalut
A_B="kuch din to gujariye gujarat mai"
print(A_B[-32])

k

In [38]:
#here we can use [:] and #start_index:end_index if you not provide end idex, it will be default give substring till the last index
print(A_B[-32:])

kuch din to gujariye gujarat mai

In [48]:
#except the last three character
print(A_B[:-4])

kuch din to gujariye gujarat

In [61]:
#you want only last characters
print(A_B[-3:])

mai

In [62]:
#skip all even negativ index and print oter index #here you can see its reverse because of negative index
print(A_B[::-2])

imtrjgeiau tndhu

In [68]:
#skip all odd endex and print even index
print(A_B[::2])

kc i ogjry uaa a

In [70]:
print(A_B[-1:-30:-2])

imtrjgeiau tndh

above we see some usefull examples and string silicing examples and therir uses

## question 2 explain the key features of list in python?

### Ans
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

A collection of items can be managed and stored in an ordered sequence using a Python list, a flexible and robust data structure. Because lists may hold components of several data types—integers, texts, and even other lists—they are incredibly versatile for various computer applications. You can quickly add, remove, and alter elements from Python lists and carry out operations like sorting and slicing

Lists are mutable and dynamic; list items can be added, removed or changed after the list is defined. Lists are ordered; newly added items will be placed at the end of the list. Lists use zero-based indexing; every list item has an associated index, and the first item's index is 0.

Characteristics of Python Lists and we can say its all key feature in list
(1) Ordered
Python lists keep their elemental order. Every element has an index, with the first element's index being 0.
(2) Mutable
Lists are editable once they are created. You can modify, eliminate, or add components.
(3)Heterogeneous
List elements can be of various kinds of data, such as texts, floats, integers, and other lists.
(4) Dynamic Size
Lists can be expanded or contracted in size as needed. No prior specification of the list's size is necessary to add or remove elements.
(5) Indexed Access
An index can be used to access elements in a list. It is also possible to use negative indexing, in which the last element is denoted by -1.
(6) Slicing
Slicing a list to access a subset of its elements is supported. Several indices can be used for slicing.
(7) Iterable
Because lists are iterable, you can use a loop, like a for loop, to iterate through the elements.
(8) Duplicate Elements
Duplicate elements are possible in lists. Every instance of a component is handled independently.
(9)Comprehensive Methods
Many built-in methods, including append(), remove(), pop(), sort(), reverse(), and others, are included with lists for joint operations.
(10) Supports Nesting
Lists can be nested (lists of lists) because lists can have other lists as components.
(11)list can contain homogeneous data type

here some more about list can be use in function
The list data type has some more methods. Here are all of the methods of list objects:

list.append(x)
Add an item to the end of the list. Equivalent to a[len(a):] = [x].

list.extend(iterable)
Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.

list.insert(i, x)
Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

list.remove(x)
Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

list.pop([i])
Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. It raises an IndexError if the list is empty or the index is outside the list range.

list.clear()
Remove all items from the list. Equivalent to del a[:].

list.index(x[, start[, end]])
Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.

The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.

list.count(x)
Return the number of times x appears in the list.

list.sort(*, key=None, reverse=False)
Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

list.reverse()
Reverse the elements of the list in place.

list.copy()
Return a shallow copy of the list. Equivalent to a[:].

we can see how to crete list and examples in details next questions

## question 3 describe how to acess,modify,and delete element in a list with examples?

### Ans
In order to access the list items refer to the index number. Use the index operator [ ] to access an item in a list. The index must be an integer. Nested lists are accessed using nested indexing. index postion will be same as we see in question 1 

lets see with example how to acess in list elemnt

In [1]:
#example 1
market_list=["tomato","brinjal","khakhra","butter milk"]
market_list[0]#here we see acess the elemnt in the list same concept index but differnt is here we acess whole elemnt in 
                  #the list perticulat their we acess each character

'tomato'

In [2]:
market_list[-1] #see here we use negative index as well

'butter milk'

In [33]:
#example 2
list1=[True,48,8+8j,45.65,"rohit","kks14"]#here we also acess throw list element using print statment
print(list1[2])

(8+8j)

In [4]:
print(list1[-2])

rohit

In [5]:
#You can specify a range of indexes by specifying where to start and where to end the range.
#When specifying a range, the return value will be a new list with the specified items.
print(list1[1:4])

[48, (8+8j), 45.65]

In [11]:
print(list1[-4:-1])

[(8+8j), 45.65, 'rohit']

now lets see how to modified list element in list

In [34]:
list1

[True, 48, (8+8j), 45.65, 'rohit', 'kks14']

In [35]:
list1[0]="shalin"#here you can see list1 elemnt will be changed 
list1

['shalin', 48, (8+8j), 45.65, 'rohit', 'kks14']

In [36]:
#lets see other ways also
list1.append("nimrit")#using this function you can add elment in the list

In [37]:
list1

['shalin', 48, (8+8j), 45.65, 'rohit', 'kks14', 'nimrit']

In [38]:
list1.remove("shalin")#using this function you can remove elment in the list

In [39]:
list1

[48, (8+8j), 45.65, 'rohit', 'kks14', 'nimrit']

In [40]:
list1.pop(1)#using this function you can remove any element using index value

(8+8j)

In [41]:
list1

[48, 45.65, 'rohit', 'kks14', 'nimrit']

In [42]:
list1.insert(2,"bharti singh")#using this function you can add eny elemnt in anywhere you can put the elemt in between also using index and name elemnt

In [43]:
list1

[48, 45.65, 'bharti singh', 'rohit', 'kks14', 'nimrit']

In [48]:
list1.index(48)#to define what element is in what index value number no need to count if its not present its give erro

0

In [57]:
list1.extend([4])#extend mens by defult add the value in the last

In [59]:
print(list1)

[48, 45.65, 'bharti singh', 'rohit', 'kks14', 'nimrit', 's', 'i', 'l', 'p', 'a', 's', 'i', 'l', 'p', 'a', 4]

In [60]:
list1.reverse()

In [62]:
print(list1,end="")

[4, 'a', 'p', 'l', 'i', 's', 'a', 'p', 'l', 'i', 's', 'nimrit', 'kks14', 'rohit', 'bharti singh', 45.65, 48]

now we can see how to delete or we can clear the elment in the list and we also see some other functional as well

In [69]:
#now in list2  we can remove element 1 to 111 from positive index value
list2=[4, 'a', 'p', 'l', 'i', 's', 'a', 'p', 'l', 'i', 's', 'nimrit', 'kks14', 'rohit', 'bharti singh', 45.65, 48]
del list2[1:11]

In [70]:
list2

[4, 'nimrit', 'kks14', 'rohit', 'bharti singh', 45.65, 48]

we can also remove a perticular element using .remove fuction that we see in above examples but lets see with 1 also examples

In [71]:
list2.remove('rohit')

In [72]:
list2

[4, 'nimrit', 'kks14', 'bharti singh', 45.65, 48]

we can also delete all the elemt in the list

In [73]:
list2.clear()

In [74]:
list2#here you can see list2 is empty

[]

you can delete a varible also lets see with example

In [75]:
market_list

['tomato', 'brinjal', 'khakhra', 'butter milk']

In [76]:
del market_list

In [77]:
market_list

NameError: name 'market_list' is not defined

see varible is deleted that why its giving error

In [80]:
list1.extend("pw skill")

In [81]:
list1

[4, 'p', 'w', ' ', 's', 'k', 'i', 'l', 'l']

In [2]:
list1=[4, 'nimrit', 'kks14', 'rohit', 'bharti singh', 45.65, 48,"kks14"]
list1.count('kks14')#couts how many time repeat thats show and when ever elemnent is not in the list then show 0

2

In [3]:
list1.count("h")

0

In [8]:
list2=[1,4,5,9,7,8,6,3,2]
sorted(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list3=["aa","gg","rr","hh","bb","kk"]
list3.sort()

In [13]:
list3

['aa', 'bb', 'gg', 'hh', 'kk', 'rr']

As an alternative to sorted(), the sort() method on a list sorts that list into ascending order, e.g. list.sort(). The sort() method changes the underlying list and returns None, so use it like this:

The above is a very common misunderstanding with sort() -- it *does not return* the sorted list. The sort() method must be called on a list; it does not work on any enumerable collection (but the sorted() function above works on anything). The sort() method predates the sorted() function, so you will likely see it in older code. The sort() method does not need to create a new list, so it can be a little faster in the case that the elements to sort are already in a list.

In [15]:
len(list3)#to define how many element are there in the list use len() function to define

6

deep copy and shallow copy with example
Deep copy:-A deep copy creates a new compound object before inserting copies of the items found in the original into it in a recursive manner. It means first constructing a new collection object and then recursively populating it with copies of the child objects found in the original. In the case of deep copy, a copy of the object is copied into another object.(change will be not reflect in other variable )

It means that any changes made to a copy of the object do not reflect in the original object.

In [6]:
lis1=['mcwm','ier','akd']
lis2=[10,20,30]

In [7]:
b=lis2.copy()

In [11]:
lis2

[10, 20, 30]

In [10]:
b

[10, 20, 30]

In [12]:
b[0]=(40)

In [13]:
b

[40, 20, 30]

In [14]:
lis2 # hence its prove does not change in original list thats called deep copy

[10, 20, 30]

shallow copy:-a shallow copy creates a new object that references the same underlying data of the original object. This means although the objects have different names, both objects point to the same memory location. So if you make changes in either of the objects then the changes will affect both objects.Creates a new dictionary with the same structure (key-value pairs) as the original, but the values themselves are references to the original objects.Any changes made to mutable objects within the copied dictionary will also affect the original dictionary

shallow copy:-change will be reflect

In [17]:
lis1
a = lis1

In [18]:
lis1

['mcwm', 'ier', 'akd']

In [19]:
a

['mcwm', 'ier', 'akd']

In [20]:
a[0]="joweidc"

In [21]:
a

['joweidc', 'ier', 'akd']

In [23]:
lis1#hence its prove Any changes made to mutable objects within the copied list will also affect the original list thats called shallow copy

['joweidc', 'ier', 'akd']

above see how to element is the list acesss,modified,and delete in the value see with examples we also see some other fuctions as well like count,reverse and sort etc.

## question 4 compare and contrast tuples and lists with examples.

### Ans 
lets understand what is tuple and then we compare to the list

Tuples are ordered collection of elements, heterogenous lets see proper defination of the tuple

(tuple:-A tuple, pronounced TUH-pul, is an ordered and finite list of elements in various fields of interest, including computing. The exact nature of that list depends on the context in which it is used, although the meaning is conceptually similar across disciplines. Tuples are found in mathematics, computer programming and the relational data model on which many modern database systems are based.

Tuples in mathematicsIn mathematics, a tuple is an ordered sequence of values. The values can be repeated, but their number is always finite. A tuple is often represented by a comma-delimited list whose values are enclosed in parentheses, although they're sometimes enclosed in square brackets or angle brackets. The following tuple uses parentheses and contains four values.)

(refer this defination of the tuple)
Tuples in computer programmingSome programming languages include a data element referred to as a tuple, which is similar in concept to the tuple used in mathematics. Tuples in programming are also ordered lists with a finite number of elements. In addition, the tuple's values can usually be duplicated and be of any type. A tuple's elements are also typically immutable -- something that cannot be changed. This immutability often translates to better performance than a data structure such as an array or list, whose values can be changed.

lets see how to create tuple
There are various ways by which you can create a tuple in Python. They are as follows:(1)Using round brackets ,(2)With one itemTuple,(3) Constructor
lets see with examples

In [16]:
#create a tuple using round brackets
t_p=("shalin","sumona","gasmir")
print(t_p)

('shalin', 'sumona', 'gasmir')

In [17]:
type(t_p)#here you can see the type of variable is tuple

tuple

In [20]:
#Create a Tuple With One Item
#Here, in the above snippet we are considering a variable called values which holds a tuple that consists of either int or str, the ‘…’
#means that the tuple will hold more than one int or str.
k_p: tuple[int | str, ...] = (1,2,4,"rohit shettey")
print(k_p)

(1, 2, 4, 'rohit shettey')

In [22]:
type(k_p)

tuple

Note: In case your generating a tuple with a single element, make sure to add a comma after the element. Let us see an example of the same.
(it is optional not for question its only for understanding)

In [23]:
j_k = ("team sumona",)
print(type(j_k))
#NOT a tuple
y_k = ("team gasmir")
print(type(y_k))

<class 'tuple'>
<class 'str'>

In [24]:
#Tuple Constructor in Python
#To create a tuple with a Tuple constructor, we will pass the elements as its parameters.
tuple_constructor = tuple(("bollywood", "tollywood", "hollywood"))
print(tuple_constructor)

('bollywood', 'tollywood', 'hollywood')

In [25]:
type(tuple_constructor)

tuple

Tuple Items or we can say tuple characteristic 
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

(1)Ordered:-When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

(2)Unchangeable:-Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

(3)Allow Duplicates:-Since tuples are indexed, they can have items with the same value:

(4)tuple can contain heterogenous data type

we see the tuple and list both now lets compare and see whats is the difference between them also we can see with examples

In Python, lists and tuples are both built-in data structures that store collections of data.meaning they can store any kind of data type and are sequential.both allow duplicate element. However, they differ in a few key ways:

(0)Tuples usually contain a heterogeneous sequence of elements, while lists usually contain a homogeneous sequence

(1)Lists are defined using square brackets [...], while tuples use parentheses (...).

(2)Mutability: Lists are mutable, meaning they can be modified after creation, while tuples are immutable, meaning they cannot be changed.Size: Tuples have a fixed size, while lists can have a variable size.

(3)Performance: Tuples are more memory efficient and faster than lists, especially when looking up values.

(4)Error-proneness: List operations are more error-prone than tuple operations.

(5)Syntax: The syntactical differences between lists and tuples are straightforward but essential. Lists are delineated using square brackets, like so: [1, 2, 3]. Tuples, in contrast, are encased in parentheses: (1, 2, 3). Though it might seem a minor distinction, it's a critical one, ensuring clarity in code.

(6)Data integrity – By ensuring that the data’s structure and contents stay consistent, tuples can be utilised to ensure data integrity. To make sure the caller is aware of how much data to expect, for instance, if a function returns a set amount of values, you might want to return them as a tuple rather than a list.

(While operations like indexing and slicing can be performed on tuples much like lists, their immutable nature ensures some common methods are missing. For instance, there’s no append() or remove() for tuples. These restrictions, though seeming limiting, are what make tuples reliable for certain tasks.)

lets see with examples

In [26]:
#Test whether tuples are immutable and lists are mutableHere we are going to compare the list and tuple mutability tests.
list3

['aa', 'bb', 'gg', 'hh', 'kk', 'rr']

In [27]:
list3[3]="ll"

In [28]:
list3#see lisst is mutable its can be changed once we create a list

['aa', 'bb', 'gg', 'll', 'kk', 'rr']

In [29]:
tuple1 = ("kks14","laughter shef",)
tuple1[0] = "bollywood movie"
print(tuple1)

TypeError: 'tuple' object does not support item assignment

see tuple are immutable above error is proof that . we can see tupe can not be modified

Test whether Tuples are Memory Efficient as tuples are stored in a single memory block therefore they don’t require extra space for new objects whereas the lists are allocated in two blocks, first the fixed one with all the Python object information and second a variable-sized block for the data.

In [30]:
import sys
a_list = []
a_tuple = ()
a_list = ["team master shef","team laugter shef","team soprts"]
a_tuple = ("team shalin","team kamolika","team monjulika")
print(sys.getsizeof(a_list))
print(sys.getsizeof(a_tuple))

88
64

Performance:Test whether the implication of iterations is comparatively faster in TuplesAs tuples are stored in a single memory block, therefore, they don’t require extra space for new objects as they are immutable whereas the lists are allocated in two blocks, first the fixed one with all the Python object information and second a variable-sized block for the data which makes them even faster.

In [1]:
import sys, platform
import time

l=list(range(100))
t=tuple(range(100))

start = time.time_ns()
for i in range(len(t)):
    a = t[i]
end = time.time_ns()
print("Total lookup time for Tuple: ", end - start)

start = time.time_ns()
for i in range(len(l)):
    a = l[i]
end = time.time_ns()
print("Total lookup time for LIST: ", end - start)

Total lookup time for Tuple:  81811
Total lookup time for LIST:  81611

above we see the differnce between list and tuple with example but conclsion of the this question is main two  difference is important 
list is mutable and tuple is immutable.
there for Unlike lists, which can have items appended or removed from them via the use of list methods, the tuple is an immutable structure. The tuple in the example above has two items in it: this size is fixed and can never be changed.but both of have index cocept(means you can acess but you can not modified in tuple but you can do in list) as well and both are nested mens you can create tuple inside tuple and list inside list

thats it compare and contrast tuples and lists with examples above we see

## question 5 describe the key feature of sets and provide examples of their use cases.

### Ans 
sets:-sets are unordered and unique collection of elements doesn't alllow duplicate elements

set:-Set is a data type in python used to store several items in a single variable. It is one of the four built-in data types (List, Dictionary, Tuple, and Set) having qualities and usage different from the other three. It is a collection that is written with curly brackets and is both unindexed and unordered. 

Set Items:-Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index. 

After a set is created, its items cannot be changed. However, new items can be added. As we mentioned, all set items need to be unique because duplicates are not allowed. Items in a set can be of any data type.so that why you also say its set is  mutable object

To create a python set, place all elements or items separated by a comma inside curly braces {}. The built-in set() function can also be used to create a set in python. As per definition, a set can have any number and any items. However, mutable elements such as dictionaries, lists, or sets are not allowed as its elements.

set is immutable data structure has a stable hash values like tuples

 Note: Set items are unchangeable, but you can remove items and add new items. but not replace item or value of the set cannot be change

In [1]:
s = {1,2,3,7,4,7,7,7,8,5,6,9}
print(type(s))

<class 'set'>

In [4]:
#hence its prove set dosent allow duplication
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
s[0] = 10 # see set has no index and unique and  Immutable object is  Set

TypeError: 'set' object does not support item assignment

In [36]:
s = {1, 2, 3, 4, 5, {4, 5, 6}} # hence its prove set is unhashable type

TypeError: unhashable type: 'set'

various set method with their uses

(Set in python have various methods. We have seen the use of some of the above. Below is a list of all the available methods for the set objects:

update()- used to update the set with union of others and itself

add()- used to add a single item to the set

copy()- used to return a copy of the set

clear()- used to remove all items of the set

discard()- used to remove an item from the set. If the item is not an element, then nothing is done

pop()- used to return and remove an arbitrary set item, KeyError is raised if the set is empty

remove()- used to remove an item from the set. KeyError is raised if an item is not a member of the set

intersection_update()- used to update a set with the intersection of another set and itself

difference_update()- used to remove intersecting items from this set)

symmetric_difference_update()- used to update a set with the symmetric difference of another set and itself union()- used to return a new set as a union of sets

here its new concept of Python Frozenset new class having the characteristics of a set in python whose items cannot be changes post assignment is known as Frozenset. Like tuples behave as immutable lists, frozensets behave as immutable sets.

As sets are unhashable, they cannot be uses as keys of a dictionary. However, frozensets are hashable and can act as keys of a dictionary. 

frozenset() function is used to create frozensets. As they are immutable, add and remove item methide aren’t supported. However, the following methods are:
issubset()- if another set is contained in this set, return true

issuperset()- if this set is contained in another set, return true

isdisjoint()- if the intersection of two sets is null, return true

symmetric_difference()- used to return a new set as the symmetric difference of two sets 

difference()- used to return a new set as the difference of two or more sets

intersection()- used to return a new set as intersection of two sets
(about frozen sets that we discuss example in next question not here)

lets see with example with above use cases

In [31]:
a={11,12,13,14,15,16,17,18}
a.add(19)#not compulsory that it will add to the last of set that see in line number [41]

In [32]:
a

{11, 12, 13, 14, 15, 16, 17, 18, 19}

In [34]:
a.update([20])#updates take iterable .

In [35]:
a

{11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [43]:
a.pop()#it is not compulsory that it will remove the last element also pop remove rendamly not a specific argument need
       #if you give it will throw you error

12

In [38]:
a

{12, 13, 14, 15, 16, 17, 18, 19, 20}

In [39]:
a.remove(14)      #removes a spcific element

In [40]:
a

{12, 13, 15, 16, 17, 18, 19, 20}

In [41]:
a.add(14)

In [42]:
a

{12, 13, 14, 15, 16, 17, 18, 19, 20}

In [44]:
a.clear()# to clear all element in set hence its prove

In [45]:
a

set()

In [46]:
# you can delete a varible also lets see 
s={"kamsdco","oewncwnd","ojncdwnd"}
s

{'kamsdco', 'oewncwnd', 'ojncdwnd'}

In [47]:
del s

In [48]:
s #hence its prove

NameError: name 's' is not defined

In [58]:
b = {21,22,23,24,26,27,29}
b.discard(23)#used to remove an item from the set. If the item is not an element, then nothing is done

In [50]:
b

{21, 22, 24, 26, 27, 29}

In [59]:
b.union([23,28,25]) #used to return a new set as a union of sets

{21, 22, 23, 24, 25, 26, 27, 28, 29}

In [61]:
b.difference([23])#used to remove intersecting items from this set)

{21, 22, 24, 26, 27, 29}

In [55]:
#set operations
#Union[|]: combines elements from two sets excluding duplicates
#Intersection[&]: only common elements btw sets
#difference[-]: return the elements that is present in first set and not in second
#symmetric difference[^]: returns elements that are present in either of sets but not in both
#lets see with example
a={11,22,12,24,26,17,20}
b={41,45,22,24,29,17,25}
a|b

{11, 12, 17, 20, 22, 24, 25, 26, 29, 41, 45}

In [57]:
print(a&b) #intersection,difference,and symmetric difference hence its prove
print(a-b)
print(a^b)

{24, 17, 22}
{26, 11, 20, 12}
{41, 11, 12, 45, 20, 25, 26, 29}

above we see what is set, use cases of set , some function and their uses and also key feature of sets all of this with examples

## question 6 discuss the use cases of tuples and sets in python programming

### Ans
use cases of tuples
Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant. Because of this ability and the guarantee that data is never changed
example emloye id , bank zccoun no, addhar card etc

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

(note:-Set items are unchangeable, but you can remove and/or add items whenever you like.
As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.)

how to create tuple that we see in question 4

Some of the most relevant characteristics of tuple objects include the following:
(0.1)Tuple allow duplication
(1)Ordered: They contain elements that are sequentially arranged according to their specific insertion order.

(2)Lightweight: They consume relatively small amounts of memory compared to other sequences like lists.
(3)Indexable through a zero-based index: They allow you to access their elements by integer indices that start from zero.

(4)Immutable: They don’t support in-place mutations or changes to their contained elements. They don’t support growing or shrinking operations.Heterogeneous: They can store objects of different data types and domains, including mutable objects.

(5)Nestable: They can contain other tuples, so you can have tuples of tuples.
(6)Iterable: They support iteration, so you can traverse them using a loop or comprehension while you perform operations with each of their elements.

(7)Sliceable: They support slicing operations, meaning that you can extract a series of elements from a tuple.
(8)Combinable: They support concatenation operations, so you can combine two or more tuples using the concatenation operators, which creates a new tuple.

(9)Hashable: They can work as keys in dictionaries when all the tuple items are immutable.

In [67]:
#lets see with use case with example
#Unpacking a Tuple
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
fruits=('banana','apple','black berry')
(shalin, aditi, shilpa) = fruits
print(shalin)
print(aditi)
print(shilpa)

banana
apple
black berry

In [68]:
type(fruits)

tuple

In [69]:
fruits

('banana', 'apple', 'black berry')

In [70]:
vegetable=("potato","tomato","brinjal","carrot") #add two varible in one tuple
mix=fruits+vegetable

In [71]:
mix

('banana', 'apple', 'black berry', 'potato', 'tomato', 'brinjal', 'carrot')

In [73]:
#You can also loop through the tuple items by referring to their index number.
#Use the range() and len() functions to create a suitable iterable
for i in range(len(mix)):#ypu can also do it in while loops
    print(mix[i])

banana
apple
black berry
potato
tomato
brinjal
carrot

In [75]:
#other use cases of tuple # you cas access the record any time
record=("join date:28","course name:data analytic","your name:manjulika")
record[2]

'your name:manjulika'

use casess of sets 

(1) some of the use case of sets we see in previous question 

(2)Removing duplicates: One of the most common use cases of set is to remove duplicates from a list or any other sequence. Since sets only contain unique elements, we can convert the sequence to a set, which automatically removes the duplicates.

(3)Communicating: Sets can be used to formally describe what is included and not included in something. For example, you might describe a playlist as including songs like "jay hind" and "ae vatan". 

(4)Making rules: Sets can be used to identify what merits correction or alterations. 

(5)Programming: Programmers use set theory to deal with large sets of data in Python and MySQL. 

(6)Representing, gathering, and analyzing comparable data: Sets can be used to represent, gather, and analyze comparable data.

(7)Storing a collection of linked things: Sets can be used to store a collection of linked things. 

(8)Identifying groupings of similar things: Sets can be used to identify groupings of similar things. For example, you can store books in a bookcase in a specific way, such as by alphabetical order, genre, or your favorites. You can also keep related clothing groups together in a closet, such as dresses, trousers, pants, coats, shawls, and socks. 

(9)Storing hashable elements: Since sets only contain hashable elements, they are useful when we need to store a collection of unique hashable elements.

let see with examples as well also see frozen set examples

In [78]:
playlist={"BTS songs","bollywood songs","blackpink songs"}
playlist.add("ae vatan")
playlist

{'BTS songs', 'ae vatan', 'blackpink songs', 'bollywood songs'}

In [79]:
#remove dublication
my = [1, 2, 3, 2, 1, 4, 5, 4]
set1 = set(my)
print(set1)

{1, 2, 3, 4, 5}

In [80]:
#Membership testing: Both set and frozenset are efficient for membership testing.
#We can use the in operator to check if an element is present in a set or a frozenset.
if 3 in my:
    print("element in set")
else:
    print("not in set")

element in set

In [81]:
##frozen sets>>immutable version of set, cannot be added or removed any new element
my = frozenset([1, 2, 2, 2, 3, 3, 4, 5])

In [82]:
type(my)

frozenset

In [83]:
my.add(5)# hence its prove frozen sets is immutable

AttributeError: 'frozenset' object has no attribute 'add'

Hashing keys in a dictionary: Since frozenset is immutable, it can be used as a key in a dictionary,while set cannot be used as a key since it is mutable.

Memory usage: In terms of memory usage, frozenset takes up less memory than a regular set. This is because a set is mutable, meaning that its elements can be added, removed, or changed after it is created. As a result, a set needs to allocate extra memory to allow for these changes. On the other hand, a frozenset is immutable, so it doesn't need this extra memory allocation, making it more memory-efficient.

To demonstrate this, you can use the sys.getsizeof() function in Python to check the memory usage of objects.

above we see use cases od sets and tuple with examples

## question 7 describe how to add, modify, and delete iteams in dictionary with examples.

### Ans
Dictionary:-dictionary is a data structure that stores data as key value pairKeys are unique and immutable

Note:dictionaries are unordered. but from Python 3.7 version, dictionaries retain the order of insertion. This means that if you iterate over a dictionary, the items will be returned in the order they were added.

In [1]:
d = {}
type(d)

dict

see thed ata type was dictionary now lets see how to acess , add , modify and delete iteams in dictionsry step by steps with example

Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets[]

In [4]:
#lets see acess the  iteams useing key . you can only acess the iteams using key vice-versa not possible
dic={'name':'data analytic','date of join':'1 aug','email':'usa@gmail.com'}
dic['name']

'data analytic'

In [8]:
# see vice versa not posible hence its prove 
dic['data analytic']

KeyError: 'data analytic'

In [9]:
#similar method to get same result but using get function lets see with example
x=dic.get('name')

In [10]:
x # see hence its prove

'data analytic'

(note:-dic has heterogeneous(only for value) data type(Values can be of any type: Values in a Python dictionary can be of any type, including strings, numbers, lists, tuples, and even other dictionaries.) it can be stored any data type but some of charater in key function not use as in key like # , @ any special charater if you use its give you error.

#only string and numvbers can be used as in a key of the dictionary)

In [11]:
dic.keys()#this fuction you can acess all the keys

dict_keys(['name', 'date of join', 'email'])

In [12]:
dic.values()#this function you can acess the all values in the dic hence its prove with  the examples

dict_values(['data analytic', '1 aug', 'usa@gmail.com'])

In [13]:
dic.items()#this fuction you can acess both keys and value in dic

dict_items([('name', 'data analytic'), ('date of join', '1 aug'), ('email', 'usa@gmail.com')])

changes and add :- in dic you You can change the value of a specific item by referring to its key name and The update() method will update the dictionary with the items from the given argument.you can add item without using update function

letss see with examples

In [14]:
#lets change the value 
dic['name']='data scientic'

In [15]:
dic.items() #see value change hence its prove

dict_items([('name', 'data scientic'), ('date of join', '1 aug'), ('email', 'usa@gmail.com')])

In [17]:
#in dictionary you can update the new key value pair will be add in dic.
dic.update({'age':100})

In [18]:
dic.items()

dict_items([('name', 'data scientic'), ('date of join', '1 aug'), ('email', 'usa@gmail.com'), ('age', 100)])

In [19]:
# in dic you can add item other way also lets see without usig update function
dic['color']='red'

In [20]:
dic.items()

dict_items([('name', 'data scientic'), ('date of join', '1 aug'), ('email', 'usa@gmail.com'), ('age', 100), ('color', 'red')])

remove and delete :- in dic you can remove and delete specific iteam as well in different way use differnt specific fuction as well that way see in with examples as well(but you can not change the key value element beacuse key is immutable)

In [23]:
#pop():-Removes the element with the specified key
dic.pop('color')

'red'

In [25]:
dic.items()

dict_items([('name', 'data scientic'), ('date of join', '1 aug'), ('email', 'usa@gmail.com'), ('age', 100)])

In [27]:
#popitem():-Removes the last inserted key-value pair
dic.popitem()

('age', 100)

In [28]:
dic.items()

dict_items([('name', 'data scientic'), ('date of join', '1 aug'), ('email', 'usa@gmail.com')])

In [29]:
#clear():-Removes all the elements from the dictionary
dic.clear()

In [30]:
dic.items()

dict_items([])

In [31]:
dic.update({'name':'data analytic','date of join':'1 aug','email':'usa@gmail.com'})
dic

{'name': 'data analytic', 'date of join': '1 aug', 'email': 'usa@gmail.com'}

In [32]:
#in dictionary you can delete the iteam as well varible
#The del keyword removes the item with the specified key name:
del dic['email']

In [33]:
dic

{'name': 'data analytic', 'date of join': '1 aug'}

In [34]:
#The del keyword can also delete the dictionary completely:
del dic

In [35]:
dic #hence its prove

NameError: name 'dic' is not defined

(Copy a Dictionary
You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy(). lets see with example.)(this is just for knowledge)

In [36]:
ab={'name': ['Sanjay', "Ajay", 1, 2], 'email': 'aj@gmail.com', 'contact': (1234, 678)}
ab

{'name': ['Sanjay', 'Ajay', 1, 2],
 'email': 'aj@gmail.com',
 'contact': (1234, 678)}

In [37]:
#Make a copy of a dictionary with the copy() method:
dic=ab.copy()
dic

{'name': ['Sanjay', 'Ajay', 1, 2],
 'email': 'aj@gmail.com',
 'contact': (1234, 678)}

In [38]:
#Another way to make a copy is to use the built-in function dict().
ajk=dict(ab)

In [39]:
ajk

{'name': ['Sanjay', 'Ajay', 1, 2],
 'email': 'aj@gmail.com',
 'contact': (1234, 678)}

above we see how to add , remove and delete element in dectionary for more about the  dictionARY we see in next question

## question 8 Discuss the importance of dictionary keys being immutable and provide examples.

### Ans
Keys must be immutable: Keys in a Python dictionary must be permanent, suggesting they cannot be changed once made. This is often because word references utilize the hash value of the keys for efficient lookup, and mutable keys can cause hash collisions.

Keys must be unique: A dictionary in Python must have unique keys. If you attempt to include a key that already exists within the Dictionary, the unused value will overwrite the old value.

The hash table implementation of dictionaries uses a hash value calculated from the key value to find the key. If the key were a mutable object, its value could change, and thus its hash could also change.

If the key were a mutable object, its value could change, and thus its hash could also change. But since whoever changes the key object can't tell that it was being used as a dictionary key, it can't move the entry around in the dictionary.

lets see with examples and use cases also

first of all lets see some function and use case

fromkey:-creates a new dictionary from an iterable that provides the keys for the dictionary. You can also specify a value to map to the keys. If you don't specify a value, the keys are set to None by default. The syntax for fromkeys() is:

In [41]:
dz={(1, 2, 3):("a", "b", "c"),"jdad":'ajdi'}
dz

{(1, 2, 3): ('a', 'b', 'c'), 'jdad': 'ajdi'}

In [45]:
d.fromkeys((1, 2, 3), ("a", "b", "c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [51]:
d.fromkeys((dz),('dictionary'))

{(1, 2, 3): 'dictionary', 'jdad': 'dictionary'}

zip:zip() function creates an iterator that will aggregate elements from two or more iterables. You can use the resulting iterator to quickly and consistently solve common programming problems, like creating dictionaries. In this tutorial, you’ll discover the logic behind the Python zip() function and how you can use it to solve real-world problems.

zip() function is defined as zip(*iterables). The function takes in iterables as arguments and returns an iterator. This iterator generates a series of tuples containing elements from each iterable. zip() can accept any type of iterable, such as files, lists, tuples, dictionaries, sets, and so on.

In [1]:
students = ["karan", "dip", "milan"]
marks = [80, 95, 100]

for i in zip(students, marks):
    print(i)

('karan', 80)
('dip', 95)
('milan', 100)

In [8]:
#store the above info in key value pair>> dict
students = ["karan", "dip", "milan"]
marks = [80, 95, 100]
students_marks = {}
for student, mark in zip(students, marks):
    students_marks[student] = mark

In [9]:
students_marks

{'karan': 80, 'dip': 95, 'milan': 100}

In [10]:
#using dictionary comprehension method
{student:marks for student, marks in zip(students, marks)}

{'karan': 80, 'dip': 95, 'milan': 100}

above dictionary comprehension method is very usefull and best practice work and looks better and very usefull case always

now lets see some use case of dictionary as well as lets see whay key immutable need in every examples

In [12]:
employee_records = {
    'E001': {'name': 'karan', 'department': 'Engineering', 'salary': 75000},
    'E002': {'name': 'milan', 'department': 'Marketing', 'salary': 65000},
    'E003': {'name': 'Dk', 'department': 'Finance', 'salary': 80000}}

In [13]:
employee_records.get('E001')

{'name': 'karan', 'department': 'Engineering', 'salary': 75000}

like above example when ever we acess employe record we can acess but if key is mutable and we chenge name as a key then its complete messs in a record that why necessary and very useful that key is immutable object now lets see other example as well

In [15]:
restaurant_menu = {
    'Dish1': {'name': 'Pasta Carbonara', 'price': 15.99, 'description': 'Creamy pasta with bacon and parmesan'},
    'Dish2': {'name': 'Chicken Caesar Salad', 'price': 12.50, 'description': 'Grilled chicken with romaine lettuce and Caesar dressing'},
    'Dish3': {'name': 'Margherita Pizza', 'price': 14.00, 'description': 'Pizza topped with tomato, mozzarella, and basil'}}

In [16]:
restaurant_menu.keys()

dict_keys(['Dish1', 'Dish2', 'Dish3'])

In [17]:
restaurant_menu.items()

dict_items([('Dish1', {'name': 'Pasta Carbonara', 'price': 15.99, 'description': 'Creamy pasta with bacon and parmesan'}), ('Dish2', {'name': 'Chicken Caesar Salad', 'price': 12.5, 'description': 'Grilled chicken with romaine lettuce and Caesar dressing'}), ('Dish3', {'name': 'Margherita Pizza', 'price': 14.0, 'description': 'Pizza topped with tomato, mozzarella, and basil'})])